name: build

on: [push]

jobs:
  test:
    strategy:
      matrix:
        luaVersion: ["5.1", "5.2", "5.3", "5.4", "luajit"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: leafo/gh-actions-lua@v7
        with:
          luaVersion: ${{ matrix.luaVersion }}
      - uses: leafo/gh-actions-luarocks@v3
      - name: build
        run: |
          luarocks install busted
          luarocks make
      - name: test
        run: |
          busted -o utfTerminal test/test.lua
